<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @game.password %>
</p>

<p>
  <strong>Host:</strong>
  <%= @game.host_id %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @game.guest_id %>
</p>

<p>
  <strong>Host wins:</strong>
  <%= @game.host_wins %>
</p>

<p>
  <strong>Guest wins:</strong>
  <%= @game.guest_wins %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
